* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* this is nav-bar */


body {
    font-family: "Roboto", sans-serif;

}
p{
    font-size: 12px;
    color: gray;
}


.nav-bar {

    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav {
    display: flex;
    width: 400px;
    justify-content: space-between;
    color: grey;
    align-items: center;
}

.but {
    border: none;
    background-color: #6D48E5;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    color: aliceblue;
}

.left-a a {
    font-size: large;
}


.reg-section {
    padding-top: 15px;
    height: 60vh;
    /* background-color: aquamarine;  */
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    /* justify-content: space-between; */
    align-items: center;

}

.reg-section button {
    width: 10vw;
    height: 5vh;
    border: transparent;
    border-radius: 10px;
    color: white;
    background-color: blueviolet;
}

.sec1-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.sec1-last {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
}

/* section 3 */
.middleSec {
    padding-top: 40px;
    height: 80vh;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 70px;
}

.middleSec img {
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.3),
        5px 5px 10px rgba(0, 0, 0, 0.3);
}

.top3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.middl3 {
    display: flex;
    column-gap: 80px;


}

.middleSec a {
    color: black;
    
}
/* this is section 3 */
.section3{
    width: 100vw;
    height: 80vh;
    background-color:#F6F6FD;
}
.first-div{
    width: 100;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-div h2{
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.678);
}
.first-div p{
    color: grey;
}
.secound-div{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
}
.secound-div p{
    width: 200px;
    color: grey;
}
.secound-div  i{
    margin-left: 50px;
    padding-bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ECE7FE;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.secound-div h2{
    padding-left: 30px;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.608);}
.middleSec span{
 text-decoration: underline;
}

.middl3 .text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.last3 {
    display: flex;
    column-gap: 80px;
    flex-direction: row-reverse;
}

.last3 .text2 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
/* this is section 4 */
.section4{
    width: 100vw;
    height: 60vh;
    background-color: #6D48E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
.parent4{
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.parent4 > div p{
    color: #F6F6FD;
    padding-bottom: 20px;
}
.parent4 > div h2{
    color: #F6F6FD;
    padding-bottom: 20px;
}
.parent4 > div h1{
    color: #F6F6FD;
    padding-bottom: 20px;
}
.lien{
    padding-top: 30px;
    
}
.lien a{
    color: #F6F6FD;
}

.number{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}
 .left-a .fa-bars{
    display: none;
}
#openn{
    display: none;
}
.titre{
    margin-left: 100px;
}


.lastSec{
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    column-gap: 50px;
}
.leftsec5{
   display: flex;
   flex-direction: column;
   row-gap: 30px;

}
.icon1{
    display: flex;
    column-gap: 20px;
}
@media(max-width:425px){
    body{
        width: 170vw;
    }
    .nav-bar{
        width: 100%;
        height: 80px;
        background-color: #6D48E5;
        display:flex ;
        flex-direction: column;
        position: relative;
       
    }
    .nav{
        background-color: aqua;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 150px;
        position: absolute;
        left: -300px;
    }
    .left-a{
        width: 100%;
        position: absolute;
        left: 10px;
        display: flex;
        justify-content: space-between;
    }
    #open{
        position: absolute;
        right: 30px;
        font-size: x-large;
      
    }





.reg-section{
    height: 110vh;
    align-items: center;
    width: 100%;
    /* background-color: red; */
    
}
.reg-section button{
    width: 30vw;
}
.sec1-last{
    row-gap: 20px;
    flex-direction: column;
}
.middleSec{
    height: 110vh;
}

.middleSec, .middl3, .last3{
    flex-direction: column;
    row-gap: 10px;
}
.lastSec{
    height: 80vh;
    flex-direction: column;
    row-gap: 20px;
}
footer{
    height: 60vh;
    width: 100%;
}
footer, .topFooter, .copy, .form{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.section4, .number{
    width: 100%;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}


}











footer{
    /* background-color: #6D48E5; */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    padding-top: 30px;
     margin-top: 50px;
     background-color: #F6F6FD;

}
footer input{
    border: 2px solid #6D48E5;
    height: 5vh;
    width: 30vw;
    text-align: center;
}
footer button{
    background-color: #6D48E5;
    border: transparent;
    width: 30vw;
    height: 5vh;
    border-radius: 8px;
}
.form{
   
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.copy{
    display: flex;
    column-gap: 60px;
    justify-content: space-between;
    /* align-items: start; */
}
.rightCopy{
    display: flex;
    column-gap: 20px;
}
.copyP{
    color: #6D48E5;
    font-size: 15px;
}
   