bidy{
      font-family: "Roboto", sans-serif;
 
}
.reg-section{
    padding-top: 15px;
    height: 60vh;
     /* background-color: aquamarine;  */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    /* justify-content: space-between; */
    align-items: center;

}

.reg-section button{
    width: 10vw;
    height: 5vh;
    border: transparent;
    border-radius: 10px;
    background-color: blueviolet;
}
.sec1-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec1-last{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
}