*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* this is nav-bar */
.nav-bar{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav{
    display: flex;
    width: 400px;
    justify-content: space-between;
    color: grey;
    align-items: center;
}
.but{
    border: none;
    background-color: #6D48E5;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    color: aliceblue;
}
.left-a a{
    font-size:large ;
    
}
/* this is section 3 */
.section3{
    width: 100vw;
    height: 80vh;
    background-color: aquamarine;
}
.first-div{
    width: 100;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-div h2{
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.678);
}
.first-div p{
    color: grey;
}
.secound-div{
    width: 100%;
    height: 30vh;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
}